body {
  margin: 0;
  padding: 0;
}

code.prettyprint, pre.prettyprint {
  width: 100% !important;
  margin: 0 !important;
  padding: 5px !important;
  box-sizing: border-box;
  background-color: #333 !important;
  border-radius: 0 !important;
  font-size: 10px;
}
